{% extends "layout.html" %}

{% block content %}
  <h3>{{page[0].dataValues.title}}<small> (<a href="{{page.urlTitle}}/similar">Similar</a>)</small></h3>
  <h4>by <a href="PLACEHOLDER-AUTHOR-URL">{{page.dataValues.name}}</a></h4>
  <div>PLACEHOLDER TAG LIST</div>
  <hr/>
  <div>{{page[0].dataValues.name}} WITH LINK TO AUTHOR PAGE</div>
  <div class="page-body">{{page[0].dataValues.content}}</div>
  <hr/>
  <a href="PLACEHOLDER_URL_TITLE/edit" class="btn btn-primary">edit this page</a>
  <a href="PLACEHOLDER_URL_TITLE/delete" class="btn btn-danger">delete this page</a>
{% endblock %}
